/* Pre loader*/
 .loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
}
.loader div{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #FE980F;
    border-bottom: 3px solid #FE980F;
    animation: rot 4s linear infinite;
    padding: 4px;
}
@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}
.pre_loader {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 9999;
}
.gray_bg {
    background-color: #0a436466;
}
a:focus {
  outline: none!important;
}

/* ==== search bar ==== */
.header-welcome {
  margin-top: -40px;
  margin-left: 35px;
}

.header-welcome {
  margin-top: -40px;
  margin-left: 60px;
}

.header-top{
  border-bottom: 1px solid;
  padding-top: 10px;
  padding-bottom: 15px;
  background: none repeat scroll 0 0 #232f3e66;
  background-color: rgba(35, 47, 62, 0.8);
}

.search_box{
  margin-top: 15px;
  margin-left: 70px;
  padding: 2px; 
  background-color: #efefef;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
	position:absolute;
	width:100%;
}

.search_box .btn.btn-primary {
  background:#ffc107 !important;
  border-color: #ffc107;
  border: 0 none;
  border-radius: 0;
  margin-top: 0;
  border-radius: 0 5px 5px 0 ;
}

/* Dropdown */
.navbar-nav{
	display: block;
  margin-left: 0px;
}

.navbar-nav li{
  	display: inline-block;
}

.navbar-nav li a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

ul.sub-menu {
	position: absolute;
	top: 40px;
	left: -60px;
  background: #273544 repeat scroll 0 0 #14243a;
	list-style: none;
	padding-left: 0px;
	margin: 0;
	width: 170px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
	border-radius:8px;
}

.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

.dropdown ul.sub-menu li .active{
  color: #FDB45E;
  padding-left: 0;
}

.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 10px;
}
.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
	
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.cart, .profile{
	background: #14243a;
	padding: 10px;
	border-radius: 5px;

}
.totalcart{
  color: #fac10a;
  margin-right:2px;
}

/*========= category menu ======*/
.header-bottom {
  padding:0;
  border-bottom: 1px solid #D5D5D5;
  border-top: 1px solid #D5D5D5;
  overflow: hidden;
  background-color: rgba(35, 47, 62, 0.8);
}

.cat-wrapper{
  margin-bottom: 12px;
  margin-top: 11px;
  cursor:pointer;
  display: inline-block;
}

.cat-wrapper a{
  font-size:12px !important;
  color:#111;
  text-align: center;
}

.cat-wrapper a:hover{
  text-decoration: underline;
}

.cat-wrapper img{
  max-height: 80px;
  max-width: 80px;
  display: block;
  margin: auto;
}

/*=========  published books ========*/
.titleheader {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #fffefe;
}

.titleheader > h3, a{
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
}

/*======slider=====*/
.sliderzx{
  width: 95%;
  margin: 20px auto;
}

.book-wrapper{
  width: 210px;
  height: 300px;
  margin: 10px;
  border: 0px solid #054555;
  padding: 10px;
  display: flex;
  background-color: rgba(35, 47, 62, 0.5);
}

.book-wrapper1{
  width: 210px;
  height: 310px;
  margin: 10px;
  border: 0px solid #054555;
  padding: 10px;
  display: inline-block;
  background-color: rgba(10, 72, 83, 0.3);
}

.book-wrapper .btn, .book-wrapper1 .btn{
  width: 80%;
  margin: auto;
}

.book-wrapper p, .book-wrapper1 p{
  color: #fafafa;
}

.book-wrapper a, .book-wrapper1 a{
  color: #ffffff;
  display: block;
  padding-top:5px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  white-space: normal;
  letter-spacing: normal;
  font-size: 13px!important;
  line-height: 19px!important;
}
.book-wrapper a i, .book-wrapper1 a i {
  margin-right: 7px;
}

.coverpage {
  flex: 1; /* Make the cover image take up half of the available space */
  padding: 10px; /* Optional padding for spacing within the column */
}

.coverpage img{
  max-height: 200px;
  max-width: 200px;
  margin-left: 0px;
  border-radius: 3px;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.coverpage img:hover{
  transform: scale(1.05);
}

.book-details {
  flex: 1; /* Make the book details take up half of the available space */
  padding: 10px; /* Optional padding for spacing within the column */
  margin-left: 0px;
}

.book-info a {
  display: block; /* Display the info links as block elements for better spacing */
  margin-bottom: 5px; /* Add some space between the info links */
}

.totalrating{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-weight: bold;
  line-height: 1;
  color: #0a2c47;
  text-align: center;
  white-space: nowrap;
  background-color: #999;
  border-radius: 10px;
  margin-left: 6px;
}

.rating span{
  font-size: 13px;
  padding: 0px;

}
.checked {
    color: orange;
}


/*=====================================*/
.messages{
  font-size: 13px;
}

.list-group {
  background-color: rgba(35, 47, 62, 0.8);
}

ul li {
    list-style: none;
}
.list-group li a {
  color: #14243a;
}
.list-group li a:hover{
  color: #8d8b8b;
  text-decoration: none;
}
td a {
  color: #111!important;
}
td a i {
  color: #fff;
}

.page-link{
  color: #111!important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff!important;
    background-color: #fac10a!important;
    border-color: #ffc107!important;
}
.btn-warning, .btn-warning:hover{
  color: #fff;
}
.book-wrapper .btn, .pricebox .btn{
  padding: 3px
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #d39e00;
    border-color: #c69500;
}

/*============= Login */
/* Style for the container */
.container {
  margin-top: 170px;
  width: 80%;
}

/* Style for the first column (Left side) */
.col-md-6:first-child {
  background-color: #273544;
  background-color: rgba(35, 47, 62, 0.7);
  padding: 20px;
}

/* Style for the second column (Right side) */
.col-md-6:last-child {
  background-color: #273544;
  background-color: rgba(35, 47, 62, 0.9);
  padding: 20px;
  opacity: 0.8;
}

/* Style for the header text */
.abya-detail h1 {
  position: relative;
  padding: 0;
  margin-left: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Style for the slogan */
.abya-detail h1 span {
  margin-left: 0px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 10px;
}

.form-group h3 {
  position: relative;
  padding: 0;
  margin-left: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Style for the introductory text */
.abya-detail p {
  margin-top: 30px;
  margin-left: 0px;
  font-size: 18px;
  color: #ffffff;
}

/* Style for the form */
.signin-form {
  width: 300px;
  margin-left: 150px;
  background-color: #273544;
  padding: 20px;
  border: 0px solid #ddd;
  opacity: 1.0;
}

/* Style for the form labels */
label {
  font-weight: bold;
  color: #ffffff;
}

/* Style for the form input fields */
.form-control {
  width: 100%;
  margin-bottom: 10px;
  opacity: 1.0;
}

/* Style for the login button */
.btn-Secondary {
  background-color: #FE980F; /* Change to your preferred color */
  color: #ffffff; 
}

/* Style for the "Go to Admin" button */
.btn-default {
  background-color: #ddd;
  color: #333;
}

/* Style for the logo image */
img {
  margin-top: 0px;
  max-width: 100%;
  opacity: 1.0;
}

/*============ Book Details*/
.view-details {
  position: relative;
  border: 0px solid #F7F7F0;
  padding:25px;
  overflow: hidden;
  margin-top: 10px;
}
.view-details img {
  max-height: 250px;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover .view-details img{
    transform: scale(1.3);
}
.grid-item:hover{
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
}

div.lookInsideDiv{
    display:none;
    width:720px;
    position:fixed;
    z-index:99999;
    top:50%;
    left:50%;
    margin-left:-360px;
    background-color:#aa7979;
    padding:40px 50px;
    margin-top:-255px;
    -webkit-box-shadow:0 0 7px 1px rgba(0,0,0,.5);
    -moz-box-shadow:0 0 7px 1px rgba(0,0,0,.5);
    box-shadow:0 0 7px 1px rgba(0,0,0,.5)
}
div.lookInsideDiv> div.exitBtn{
    float:right;
    background:url(image/lboximg/close.png) center;
    padding:14px;
    margin-top:-10px;
    margin-right:-38px
}
div.lookInsideDiv> div.exitBtn:hover{
    background-color:#FE980F;
    cursor:pointer
}
div.lookInsideDiv{
    width:1e3px;
    margin-left:-500px;
    height:700px;
    margin-top:-350px
}
div.lookInsideDiv> div.pagesArea{
    background-color:#a9a9a9;
    width:100%;
    padding:5px;
    height:610px
}

ul.list-unstyled.pages::-webkit-scrollbar{
    width:1.5em
}
ul.list-unstyled.pages::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    box-shadow:inset 0 0 6px rgba(0,0,0,.3)
}
ul.list-unstyled.pages::-webkit-scrollbar-thumb{
    background-color:#4f4e4e;
    outline:1px solid #4f4e4e
}
ul.pages{
    width:100%;
    height:600px;
    overflow-y:auto
}
ul.pages>li{
    margin-bottom:15px
}
ul.pages>li>img{
    width:100%
}

.product-information, .pricebox{
  border: 0px solid #F7F7F0;
  padding:25px;
  margin-top: 10px;
}
.product-information h3 {
  margin-left: 0px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

.product-information p{
  color: #fff;
}

/*=========== Review Form ==================*/
.rating-stars ul, .review-stars ul {
  list-style-type:none;
  padding:0px;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

.rating-stars ul > li.star > i.fa {
  color:#555;
}

.rating-stars ul > li.star > i.fa {
  font-size:20px; 
}

.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

.card{
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.card-body img{
  max-width: 30px;
  padding: 5px;
}

.card-body p {
  color: #111;
  margin-top: 10px;
}

.d-pagination{
  margin-top: 20px;
}

.read-btn{
  margin-left: 60px;
}

.given_review_date{
  margin-top: 0px;
}

/*================ category =========================*/
.search_menu{
  background-color: #273544;
  height:40px;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius:2px;
}
.search_menu h4{
  color:#383737;
  font-size:18px;
  padding:10px;
}

/*=================== cart =================*/
.cart_info{
  color: #ddd;
    border: 0px solid #E6E4DF;
    border-radius: 3px;
    margin-bottom: 20px;
}

.cart_coverpage a img{
  max-width:75px;
}

.cart_quantity{
  width: 130px;
}
.cart_quantity input{
  height: 30px;
}
.btn.btn-primary.bootstrap-touchspin-down, .btn.btn-primary.bootstrap-touchspin-up{
  background: #232f3e;
  padding:5px 10px;
  color:#ffffff;
  height: 30px;
  border: 1px solid #ddd;
  border-radius:2px;
}
.continue_or_next{
  border: 0px solid #E6E4DF;
  padding-top:15px;
}

._to_shope:hover, ._to_continue:hover{
  color:#FFFFFF;
}
._to_continue{
  background: #FEB82F;
}

/*============ snackbar ===========*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*============*/
/* Footer Container */
.footer {
  width: 100%;
  background: #232f3e;
  background-color: rgba(35, 47, 62, 0.8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping of sections when screen size is too small */
  padding: 20px;
}

/* Footer Sections (Left, Center, Right, Bottom) */
.footer-section {
  flex: 3;
  margin-left: -10px;
  padding: 20px;
  color: white;
}

/* Heading Styles */
.footer-section h3 {
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
}

/* Paragraph Styles */
.footer-section p {
  padding: 7px;
  font-size: 14px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0px; /* Remove default margin */
}

.footer-contact {
margin-left: -30px;
}

.footer-links li a {
margin-left: -30px;
color: #ffffff;
}

.footer-logo {
margin-top: 100px;
}

/* Copyright Section */
.copyright {
  background: #303547;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 10px; /* Add padding for spacing */
}
.copyright a {
  color: #fff;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
 
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #FFCC36;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #FFCC36;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #FFCC36;
    padding: 13px 20px;
    border: 1px solid #FFCC36;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
